<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.hospital.dao.DoctorDao">

    <!-- ==================== ResultMap ==================== -->
    <resultMap id="doctorResultMap" type="Doctor">
        <id     property="id"             column="id"/>
        <result property="firstName"      column="first_name"/>
        <result property="lastName"       column="last_name"/>
        <result property="specialization" column="specialization"/>
        <result property="available"      column="available"/>
        <result property="departmentId"   column="departments_id"/>
    </resultMap>

    <!-- ==================== INSERT ==================== -->
    <insert id="create" parameterType="Doctor" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO doctors (first_name, last_name, specialization, available, departments_id)
        VALUES (#{firstName}, #{lastName}, #{specialization}, #{available}, #{departmentId})
    </insert>

    <!-- ==================== UPDATE ==================== -->
    <update id="update" parameterType="Doctor">
        UPDATE doctors
        SET first_name     = #{firstName},
        last_name      = #{lastName},
        specialization = #{specialization},
        available      = #{available},
        departments_id = #{departmentId}
        WHERE id = #{id}
    </update>

    <!-- ==================== DELETE ==================== -->
    <delete id="delete" parameterType="long">
        DELETE FROM doctors WHERE id = #{id}
    </delete>

    <!-- ==================== SELECT ==================== -->
    <select id="findById" parameterType="long" resultMap="doctorResultMap">
        SELECT * FROM doctors WHERE id = #{id}
    </select>

    <select id="findAll" resultMap="doctorResultMap">
        SELECT * FROM doctors
    </select>

    <select id="findByAvailability" parameterType="boolean" resultMap="doctorResultMap">
        SELECT * FROM doctors WHERE available = #{available}
    </select>

</mapper>